# credentials
.env
.env.staging
.env.prod


# generated artifacts
playwright/.auth/
reports/
tests/generated/
test-results/
playwright-report/
.playwright-cli/
context-cache/*.md

# node
node_modules/
